<div class= "col-md-3">
  <h2>User info</h2>


  <h5>name</h5>
  <%= @user.name %>

  <h5>introduction</h5>

   <%= @user.introduction %>
    <br>
  <%= link_to"btn",edit_user_path(current_user.id) %>
    </br>


<%= form_with model: @book_new, url: books_path, method: :post do |f| %>


        <h2>New book</h2>
        <h4>Title</h4>
        <%= f.text_field :title %>

        <h4>Opinion</h4>
        <%= f.text_area :body %>
        <nav>

        <%= f.submit 'Create Book' %>
        </nav>
<% end %>
  </div>


  <div class= "col-md-8 offset-md-1">
     <h2>Books detail</h2>
    <table class="table table-hover table-invers">
  <thead>
    <tr>
     <%= link_to user_path(@book.user_id) do %>

       <% end %>
    </tr>
  </thead>
<td>
        <%= link_to user_path(@book.user_id) do %>
         <%= image_tag @book.user.get_profile_image(100,100) %>
         <%= @book.user.name %>
        <% end %>


  </td>
  <td>
     <%= link_to book_path(@book.id) do %>
       <%= @book.title %>
       <%= @book.body %>
     <% end %>
  </td>
  <td>
    <%= link_to "Edit", edit_book_path(@book) %>
  </td>
  <td>
    <%= link_to "Destroy", book_path(@book.id),method: :delete,"data-confirm" => "AreYouSure？"  %>
  </td>

  </div>